
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	width: 1158px;
}

/* Logo */
.logo,
.footer-logo {
	color: var(--title-text-color);
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
}

.logo-part {
	color: var(--accent-color);
}

/* Page header */
.page-header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Site nav */

.main-nav {
	display: flex;
	align-items: center;
}

.site-nav {
	display: flex;
	margin-left: 77px;
}

.site-nav .item:not(:last-child) {
	margin-right: 40px;
}

.site-nav .link {
	display: block;
	padding-top: 24px;
	padding-bottom: 24px;

	color: var(--title-text-color);
	font-weight: 500;
	text-decoration: none;

	transition: color 250ms var(--main-cubic-bezier);
}

.contacts {
	display: flex;
	margin-left: 332px;
}

.contacts-link {
	color: var(--primary-text-color);
	text-decoration: none;

	transition: color 250ms var(--main-cubic-bezier);
}

.contacts .item+.item {
	margin-left: 40px;
}

.site-nav .link:hover,
.contacts-link:hover,
.site-nav .link:focus,
.contacts-link:focus {
	color: var(--ocean-color);
}

.site-nav .link.current {
	color: var(--ocean-color);
	position: relative;
}

.site-nav .link.current::after {
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 0;

	content: '';
	width: 100%;
	height: 4px;
	background-color: var(--ocean-color);
	border-radius: 2px;
	transform: scale(1, 1);
	transition: transform 250ms var(--main-cubic-bezier);
}

.site-nav .link.current:hover::after {
	transform: scale(0.3, 0.5);
}

/* Index.html */

/* Hero */

.hero {
	text-align: center;
	padding-top: 192px;
	padding-bottom: 192px;
	margin-left: auto;
	margin-right: auto;

	max-width: 1440px;
	min-height: 600px;

	background-color: var(--title-text-color);
	background-image:
		linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url('../images/people_office.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;

	width: 494px;

	color: var(--primary-white-color);
	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;
}

/* Section */

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section.no-toppadding {
	padding-top: 0;
}

.toppadding {
	padding-top: 96px;
}

.section-title {
	margin-bottom: 72px;

	color: var(--title-text-color);
	font-weight: 600;
	font-size: var(--section-title-font-size);
	line-height: var(--section-title-line-height);
	text-align: center;
	text-transform: capitalize;
}

/* Features, Team, Examples */

.descr-list,
.team-list {
	display: flex;
}

.descr-list .item,
.team-list .card {
	margin-right: 24px;

	width: 264px;
}

.advantages {
	padding: 24px 100px;
	margin-bottom: 8px;

	height: 112px;
	border-radius: 4px;

	background-color: var(--secondary-white-color);
}

.example-list,
.work-list {
	display: flex;
	flex-wrap: wrap;
}

.example-list .item,
.work-list .item {
	width: 360px;
	margin-right: 24px;
	margin-bottom: 48px;
	box-shadow: none;

	transition: box-shadow 250ms var(--main-cubic-bezier);
}

.work-list .item:hover,
.work-list .item:focus {
	box-shadow: var(--main-box-shadow);
}

.work-thumb {
	position: relative;
	overflow: hidden;
}

.work-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--accent-color);
	transform: translateY(100%);

	transition: transform 250ms var(--main-cubic-bezier);
}

.work-descr {
	position: absolute;
	top: 40px;
	left: 32px;
	right: 32px;

	color: var(--secondary-white-color);
}

.work-list .item:hover .work-overlay,
.work-list .item:focus .work-overlay {
	transform: translateY(0);
}

.work-content {
	border-left: 0.5px solid #F4F4FD;
	border-right: 0.5px solid #F4F4FD;
	border-bottom: 0.5px solid #F4F4FD;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.work-content {
	padding: 32px 16px;
}

.card-content {
	padding: 32px 16px;
	text-align: center;
}

.descr-list .item:nth-child(4n),
.team-list .card:nth-child(4n),
.example-list .item:nth-child(3n),
.work-list .item:nth-child(3n) {
	margin-right: 0;
}

.example-list .item:nth-last-child(-n+3),
.work-list .item:nth-last-child(-n+3) {
	margin-bottom: 0;
}

.descr-list .title,
.team-list .title,
.work-list .title {
	margin-bottom: 8px;

	color: var(--title-text-color);
	font-weight: 500;
	font-size: var(--title-font-size);
	line-height: var(--title-line-height);
}

.social-links {
	display: inline-flex;
	gap: 24px;

	margin-top: 8px;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--accent-color);
	width: 40px;
	height: 40px;
	border-radius: 50%;

	transition: background 250ms var(--main-cubic-bezier);
}

.icon:hover,
.icon:focus {
	background: var(--ocean-color);
}

.team {
	background-color: var(--secondary-white-color);
}

.card {
	background-color: var(--primary-white-color);
	width: 264px;

	box-shadow: var(--main-box-shadow);
	border-radius: 0px 0px 4px 4px;
}

/* Customers */

.customers-list {
	display: flex;
	gap: 24px;
}

.customers-list li {
	width: calc((100% - 120px) / 6);
	height: 88px;
}

.customer {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	border: 1px solid #8E8F99;
	border-radius: 4px;
	fill: #8E8F99;

	transition: border-color 250ms var(--main-cubic-bezier), fill 250ms var(--main-cubic-bezier);
}

.customer:hover,
.customer:focus {
	border-color: var(--accent-color);
	fill: var(--accent-color);
}

/* Filter */

.filter {
	margin-bottom: 72px;
	display: flex;
	justify-content: center;
}

.filter .item:not(:last-child) {
	margin-right: 24px;
}

/* Button */

.button {
	padding: 12px 24px;

	color: var(--title-text-color);
	background-color: var(--primary-white-color);
	cursor: pointer;
	font-weight: 500;
	letter-spacing: var(--btn-letter-spacing);

	border: 1px solid transparent;
	border-radius: 4px;
}

.button.primary {
	padding: 16px 32px;

	color: var(--primary-white-color);
	background-color: var(--accent-color);

	box-shadow: var(--main-box-shadow);

	transition: background-color 250ms var(--main-cubic-bezier), box-shadow 250ms var(--main-cubic-bezier);
}

.button.secondary {
	color: var(--accent-color);
	background-color: var(--secondary-white-color);

	border-color: var(--footer-white-color);

	transition: color 250ms var(--main-cubic-bezier), background-color 250ms var(--main-cubic-bezier),
		border-color 250ms var(--main-cubic-bezier), box-shadow 250ms var(--main-cubic-bezier);

}

.button.primary:hover,
.button.primary:focus {
	background-color: var(--ocean-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary:hover,
.button.secondary:focus {
	color: var(--primary-white-color);
	background-color: var(--ocean-color);

	border-color: var(--ocean-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Footer */

.footer-logo {
	display: inline-block;

	color: var(--secondary-white-color);
}

.footer {
	background-color: var(--title-text-color);
}

footer {
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer .container {
	display: flex;
}

.footer .text {
	width: 264px;
	margin-top: 16px;

	color: var(--footer-white-color);
	font-size: var(--main-font-size);
	line-height: var(--main-line-height);
	letter-spacing: var(--main-letter-spacing);

}

.links-header {
	font-weight: 600;
	font-size: inherit;
	letter-spacing: 0.02em;
	color: var(--primary-white-color);
}

.link-container {
	margin-left: 120px;
}

.social-links.footer {
	margin-top: 16px;
	gap: 16px;
}

.icon.footer {
	background: rgba(255, 255, 255, 0.1);

	transition: background 250ms var(--main-cubic-bezier);
}

.icon.footer:hover,
.icon.footer:focus {
	background: #31D0AA;
}

.footer-subscribe {
	margin-left: auto;
}

.footer-form {
	display: flex;
	align-items: center;
	margin-top: 16px;
}

.footer-form input {
	padding: 8px 16px;

	height: 40px;
	width: 264px;
	background-color: transparent;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	font-weight: 400;
	font-size: 12px;
	line-height: 2;

	letter-spacing: 0.04em;

	color: rgba(255, 255, 255, 0.6);
}

.footer-form .button.primary {
	display: inline-flex;
	height: 40px;
	margin-left: 25px;
	padding: 8px 24px;
	line-height: var(--main-line-height);
}

.footer-form .button.primary svg {
	margin-left: 16px;
}

/* Modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(46, 47, 66, 0.4);

	opacity: 1;
	transition: opacity 250ms var(--main-cubic-bezier);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.3);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	min-height: 576px;
	min-width: 408px;

	background: #FCFCFC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms var(--main-cubic-bezier);
}

.btn-close {
	display: flex;
	position: absolute;
	top: 24px;
	right: 24px;

	padding: 8px;
	cursor: pointer;
	background: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	transition: fill 250ms var(--main-cubic-bezier), background-color 250ms var(--main-cubic-bezier), border-color 250ms var(--main-cubic-bezier);
}

.btn-close:hover,
.btn-close:focus {
	fill: var(--primary-white-color);
	background-color: var(--ocean-color);
	border-color: var(--ocean-color);
}

/* Modal form */

textarea {
	resize: none;
	padding-left: 16px;
	padding-top: 8px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color 250ms var(--main-cubic-bezier);
	outline: none;
}

textarea:focus {
	border-color: var(--accent-color);
}

.form {
	/* outline: 1px solid tomato; */
	width: 360px;
	margin-top: 72px;
	margin-right: auto;
	margin-bottom: 24px;
	margin-left: auto;
}

.form-title {
	margin-bottom: 14px;

	font-weight: 500;
	font-size: 16px;
	line-height: var(--main-line-height);
	text-align: center;

	color: var(--title-text-color);
}

.form-field {
	/* outline: 1px solid teal; */
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;
}

.input-wrap {
	position: relative;
}

.form-input {
	width: 100%;
	margin: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 38px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color 250ms var(--main-cubic-bezier);
	outline: none;
}

.form-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);

	fill: var(--title-text-color);
	transition: fill 250ms var(--main-cubic-bezier);
}

.form-input:focus~.form-icon {
	fill: var(--accent-color);
}

.form-input:focus {
	border-color: var(--accent-color);
	border-radius: 4px;
}

.form-field label {
	margin-bottom: 4px;
}

.form-field ::placeholder {
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	color: rgba(117, 117, 117, 0.5);
}

.form-field label,
.agree label {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;

	letter-spacing: 0.04em;

	color: #8E8F99;
}

.agree>label {
	position: relative;
	display: flex;
	align-items: center;
}

.agree .link {
	color: var(--accent-color);
}

.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.icon-noagree {
	width: 16px;
	height: 16px;
	border: 1.25px solid var(--title-text-color);
	border-radius: 2px;

	margin-right: 8px;
}

.icon-agree {
	position: absolute;
	top: 0;
	left: 0;
	scale: 0;

	transition: scale 250ms var(--main-cubic-bezier);
}

.checkbox:checked~.icon-agree {
	scale: 1;
}

.agree {
	margin-top: 16px;
	margin-bottom: 24px;
}

.form-btn {
	display: flex;
	justify-content: center;
}